
/src/iDrink/__pycache__
src/Metrabs_PoseEstimation/__pycache__/metrabsPose3D_pt.cpython-311.pyc
src/Metrabs_PoseEstimation/__pycache__/metrabsPose2D_pt.cpython-311.pyc
src/iDrink/__pycache__/iDrinkUtilities.cpython-311.pyc
src/iDrink/__pycache__/iDrinkOpenSim.cpython-311.pyc
src/iDrink/__pycache__/iDrinkLog.cpython-311.pyc
src/iDrink/__pycache__/iDrinkUtilities.cpython-311.pyc
src/iDrink/__pycache__/iDrinkOpenSim.cpython-311.pyc
src/iDrink/__pycache__/iDrinkLog.cpython-311.pyc
